<div class="home-intro">
    <div class="jumbo">hey, i am chtnnh</div>
    <br />
    <div>and i am going to change the world.</div>
    <div class="home-sub-text">
        <h2 id="the-present">the present:</h2>
        <div class="idea">
            <em>the past is irrelevant, much like the future...</em>
        </div>
        <h4>
            i'm writing my second book right now, you can have a look at the
            first one
            <a href="https://www.google.com/search?q=3415+volume+1#ip=1">
                here.
            </a>
        </h4>
        <br />
        <h2>the past:</h2>
        <div class="idea"><em>...unless you&#39;re reminiscing...</em></div>
        <br />
        <div class="a-past">
            <div class="work">
                <h3>
                    full stack swe @
                    <a href="https://wisdomcircle.com">WisdomCircle</a>
                </h3>
                <h3>swe intern @ <a href="https://bharatx.tech">BharatX</a></h3>
            </div>
            <div class="balance" />
            <div class="life">
                <h3>
                    <a href="https://buildspace.so">buildspace</a> n&amp;w s2
                    &amp; s3 - (attempted) founder @ Rituals
                </h3>
                <p>gamifying habit formation for neurodivergent adults</p>
                <p>
                    realised gamifying habit formation requires a greater
                    product-aligned mindset, which i didn&#39;t possess then
                </p>
                <p>will probably attempt to solve this problem again</p>
            </div>
        </div>
        <div class="a-past">
            <div class="work">
                <h3>
                    <a href="https://kernel.community">Kernel</a> Block 4 Fellow
                    @
                    <a href="https://gitcoin.co">Gitcoin</a>
                </h3>
                <h3>
                    swe intern @
                    <a href="https://questbook.xyz">Questbook</a>
                </h3>
            </div>
            <div class="balance" />
            <div class="life">
                <h3>(attempted) founder @ unnamed</h3>
                <p>
                    designing machine learning algorithms to, well one day,
                    build a high-bandwidth BCI
                </p>
                <p>
                    realised that there is a reason why machine learning
                    algorithms weren&#39;t built on top of open source electrode
                    data
                </p>
                <p>
                    will <em>definitely</em> attempt to solve this problem
                    again, hopefully soon
                </p>
            </div>
        </div>
        <div class="a-past">
            <div class="work">
                <h3>
                    <a
                        href="https://summerofcode.withgoogle.com/archive/2021/projects/5860658905612288"
                    >
                        GSoC Mentor
                    </a>
                    ,
                    <a href="https://www.outreachy.org/alums/2020-12/">
                        Outreachy Mentor
                    </a>
                    &nbsp;&
                    <a
                        href="https://summerofcode.withgoogle.com/archive/2020/projects/4875253420916736"
                    >
                        GSoC Intern
                    </a>
                    &nbsp;@
                    <a href="https://wikimedia.org">Wikimedia Foundation</a>
                </h3>
            </div>
            <div class="balance" />
            <div class="life">
                <h3>(attempted) founder @ QubEat</h3>
                <p>
                    designing quantum algorithms to solve optimisation for
                    logistics
                </p>
                <p>
                    got off track trying to prove that &quot;P = NP&quot;,
                    realised i love physics but our universe might not have been
                    the same if that permutation of those 5 characters was true
                </p>
                <p>
                    will probably attempt to solve this problem again, much
                    later though
                </p>
            </div>
        </div>
    </div>
    <h2 id="the-future">the future:</h2>
    <div class="idea"><em>...to build a better future.</em></div>
    <br />
    <p>
        if you found this interesting and would like to have a conversation, do
        reach out!
    </p>
    <p>chtnnh [@] gmail.com</p>
</div>
