<div class="home-intro">
    <div class="jumbo">hey, i am chtnnh</div>
    <br />
    <div>and i am the kid who's going to change the world.</div>
    <div class="home-sub-text">
        <h2>the present:</h2>
        <div><em>the past is irrelevant, much like the future...</em></div>
        <h3>
            i've put all my bets on altering the future of humanity with decentralized federated machine learning.
        </h3>
    <h2 id="the-past">the past:</h2>
    <div><em>...unless you&#39;re reminiscing...</em></div>
    <h3>
        full stack swe @ <a href="https://wisdomcircle.com">WisdomCircle</a>
    </h3>
    <h3>
        <a href="https://buildspace.so">buildspace</a> n&amp;w s2 &amp; s3 - (attempted) founder @ Rituals
        <p>gamifying habit formation for neurodivergent adults</p>
        <p>realised gamifying habit formation requires a greater product-aligned mindset, which i didn&#39;t possess then</p>
        <p>will probably attempt to solve this problem again</p>
    </h3>
    <h3>
        swe intern @ <a href="https://bharatx.tech">BharatX</a>
    </h3>
    <h3>
        (attempted) founder @ unnamed
        <p>designing machine learning algorithms to, well one day, build a high-bandwidth BCI</p>
        <p>realised that there is a reason why machine learning algorithms weren&#39;t built on top of open source electrode data</p>
        <p>will <em>definitely</em> attempt to solve this problem again, hopefully soon</p>
    </h3>
    <h3>
        <a href="https://kernel.community">Kernel</a> Block 4 Fellow @ <a href="https://gitcoin.co">Gitcoin</a>
    </h3>
    <h3>
        swe intern @ <a href="https://questbook.xyz">Questbook</a>
    </h3>
    <h3>
        (attempted) founder @ QubEat
        <p>designing quantum algorithms to solve optimisation for logistics</p>
        <p>got off track trying to prove that &quot;P = NP&quot;, realised i love physics but our universe might not have been the same if that permutation of those 5 characters was true</p>
        <p>will probably attempt to solve this problem again, much later though</p>
    </h3>
    <h3>
        <a href="https://summerofcode.withgoogle.com/archive/2021/projects/5860658905612288">GSoC Mentor</a>, <a href="https://www.outreachy.org/alums/2020-12/">Outreachy Mentor</a> & <a href="https://summerofcode.withgoogle.com/archive/2020/projects/4875253420916736">GSoC Intern</a> @ <a href="https://wikimedia.org">Wikimedia Foundation</a>
    </h3>
    <h2>the future:</h2>
    <div><em>...to build a better future.</em></div>
    <br />
    <p>
        if you found this interesting and would like to have a conversation about anything tech, please reach out to me!
    </p>
    <p>
        chtnnh [@] gmail.com
    </p>
    <br />
    <p><em>great results are born of great passion</em></p>
    </div>
</div>
