<nav
    class="navbar is-transparent"
    role="navigation"
    aria-label="main navigation"
>
    <div class="navbar-brand">
        <a
            class="navbar-item"
            style="padding-left: 0"
            ;
            href="{{ site.baseurl }}/index.html"
        >
            <h6>{{site.heading}}</h6></a
        >
        <script src="{{ site.baseurl }}/assets/js/modeswitcher.js"></script>
        <script src="{{ site.baseurl }}/assets/js/Hamburger.js"></script>
        <div
            class="navbar-item navbar-dark-mode__mobile is-hidden-desktop"
            onclick="modeSwitcher()"
        >
            <div class="buttons">
                <a class="button is-text">
                    <span class="icon is-small">
                        <img
                            src="{{ '/assets/img/sun.svg' | relative_url }}"
                            id="theme-toggle-img--mobile"
                        />
                    </span>
                </a>
            </div>
        </div>
        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a
            href="https://www.darukavana.chtnnh.site"
            class="navbar-item"
            >
            darukavana
            </a>
	    <a
		href="https://drive.google.com/file/d/1qoshl8V3zk5PFELqMHTbEBwmJMi0D-jt/view?usp=drive_link"
		class="navbar-item"
	    >
		Resume
	    </a>
            <a
                href="https://www.linkedin.com/in/chaitannah?utm_source=blog"
                class="navbar-item"
            >
                LinkedIn
            </a>
            <a href="https://github.com/chtnnh" class="navbar-item"> GitHub </a>
            <a href="https://twitter.com/chaitannah" class="navbar-item">
                Twitter
            </a>
            <div class="navbar-end is-hidden-mobile" onclick="modeSwitcher()">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-text">
                            <span class="icon is-small">
                                <img
                                    src="{{ '/assets/img/sun.svg' | relative_url }}"
                                    id="theme-toggle-img"
                                />
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
