<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Chaitanya Mittal" property="og:site_name" />
    <meta content="Software Engineer | Computer Science" property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">
    <meta property="og:image" content="../assets/img/OGImg.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">
    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}

    <title>{{page.title}} - {{site.heading}}</title>
    <link rel="canonical" href="{{site.url}}{{page.url}}" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/profile.png">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png" sizes="16x16" />
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" media="all" class="default" />
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" media="all" class="default" />
    <link href="{{ site.baseurl }}/assets/css/Util.css" rel="stylesheet" media="all" class="default" />
    <link href="{{ site.baseurl }}/assets/css/vendor/Katex.css" rel="stylesheet" media="all" class="default" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <script type="text/javascript">
        (function (f, b) {
            if (!b.__SV) {
                var e, g, i, h; window.mixpanel = b; b._i = []; b.init = function (e, f, c) {
                    function g(a, d) {var b = d.split("."); 2 == b.length && (a = a[b[0]], d = b[1]); a[d] = function () {a.push([d].concat(Array.prototype.slice.call(arguments, 0)))}} var a = b; "undefined" !== typeof c ? a = b[c] = [] : c = "mixpanel"; a.people = a.people || []; a.toString = function (a) {var d = "mixpanel"; "mixpanel" !== c && (d += "." + c); a || (d += " (stub)"); return d}; a.people.toString = function () {return a.toString(1) + ".people (stub)"}; i = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < i.length; h++)g(a, i[h]); var j = "set set_once union unset remove delete".split(" "); a.get_group = function () {function b(c) {d[c] = function () {call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); a.push([e, call2])}} for (var d = {}, e = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < j.length; c++)b(j[c]); return d}; b._i.push([e, f, c])
                }; b.__SV = 1.2; e = f.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; g = f.getElementsByTagName("script")[0]; g.parentNode.insertBefore(e, g)
            }
        })(document, window.mixpanel || []);
        mixpanel.init('bf31f22094ae20aee447d7b5a459c622', {debug: true, track_pageview: true, persistence: 'localStorage'});
        mixpanel.identify()
        mixpanel.track('Visit', {
            "url": window.URL.toString()
        })
    </script>
</head>

<body>
    <main>
        {%- include Nav.html -%}
        <section class="section">
            <div class="columns is-centered">

                <!-- Reclaim DevRel role Layout -->
                {%- if page.permalink == "/reclaim-dev-rel" -%}
                <h1 id="why-chaitanya-is-a-great-fit-for-the-devrel-role-at-reclaim-">Why Chaitanya is a great fit for the DevRel role at Reclaim:</h1>
                <h3 id="hypothesis">hypothesis</h3>
                <p>Annotating the entire Job Description with relevant details about myself will be a great way to make my case.</p>
                <h2 id="thesis">thesis</h2>
                <p>&quot;About Reclaim Protocol, Questbook</p>
                <p>Reclaim Protocol (by Questbook) helps users migrate their profile and reputation from one app to another. Until recently, the rating you have accumulated on Uber or the followers you have on Twitter are locked in the said apps.</p>
                <p>Reclaim Protocol uses zeroknowledge-proofs on https traffic to enable migration of profiles.&quot;</p>
                <blockquote>
                <blockquote>
                <p>was the only person not working on Reclaim who got to witness the team in Dubai polishing it pre-release.</p>
                </blockquote>
                </blockquote>
                <p>&quot;We&#39;ve raised about $10M - from top VCs including but not limited to Lemnis Capital, Hashed, Coinbase Ventures, Dragonfly, Spartan, Balaji S.&quot;</p>
                <blockquote>
                <blockquote>
                <p>The only name that has been there since I worked at Questbook, is Balaji S. (Reclaim is a new company and that is why I am applying with the same amount of effort I would to a new company.)</p>
                </blockquote>
                </blockquote>
                <p>&quot;We are about 25 employees. 80% of whom are engineers.</p>
                <p>You will enjoy working with us if :&quot;</p>
                <blockquote>
                <blockquote>
                <p>I know the bunch, I love working with them!</p>
                </blockquote>
                </blockquote>
                <ol>
                <li>&quot;You are an independent operator - the team is fully remote and across timezones. Typically, there is only one person working per project at the company. So, you&#39;re expected to make tough decisions on the go with little help from colleagues. Not only make decisions, but also make them fast and execute on it.&quot;</li>
                </ol>
                <blockquote>
                <blockquote>
                <p>Wouldn&#39;t go so far as to assume that you believe this, but I know I am an independent operator at work.</p>
                </blockquote>
                </blockquote>
                <ol>
                <li>&quot;You thrive in chaos - the tech we&#39;re working on is super cutting edge. There are constant improvements in cryptographic tools available. We have to stay on top of the latest greatest, even if it means not all of us have clarity all the time. The problem statements at the company are often vague and open ended. You are expected to look for clarity, ask questions, do research and eventually come up with a solution. Fast.&quot;</li>
                </ol>
                <blockquote>
                <blockquote>
                <p>Inserting the I am speed GIF here.</p>
                </blockquote>
                </blockquote>
                <ol>
                <li>&quot;If you like exploring the frontiers of technology - everything here is cutting edge. We don&#39;t have apps, we have appclips. We don&#39;t do cryptography, we do zkproofs. The team is an ultra tech aware one. So, we&#39;re always trying to use the super powers of the latest greatest technology out there. That means reading through a lot of shitty documentation and being many times the first to use a certain tech/library.&quot;</li>
                </ol>
                <blockquote>
                <blockquote>
                <p>TODO</p>
                </blockquote>
                </blockquote>
                <p>&quot;You will hate working with us if :&quot;</p>
                <blockquote>
                <blockquote>
                <p>doubt this, but will read.</p>
                </blockquote>
                </blockquote>
                <ol>
                <li>&quot;You don&#39;t like speaking with customers - most companies shield developers from customers and only the &quot;business folks&quot; speak with customers. Not at our company. Every engineer handles one customer. Helping that customer integrate our products and respond to all their queries on telegram around the clock.&quot;</li>
                </ol>
                <blockquote>
                <blockquote>
                <p>Emulating Harsha sir, check.</p>
                </blockquote>
                </blockquote>
                <ol>
                <li>&quot;You don&#39;t like purging code - at the time of this writing, 100% of the code I&#39;ve written has been purged. Everyone at the company will have an outrageous amount of code that has been trashed. We build fast and trash faster. We experiment a lot. At any point of time there are atleast 3 projects that are in the research phase and might never make it to production. If you&#39;re on the project that didn&#39;t move the needle, it will be trashed. And there&#39;s no room to feel bad about it. It happens all the time.&quot;</li>
                </ol>
                <blockquote>
                <blockquote>
                <p>First thing I learned from you Maddy sir.</p>
                </blockquote>
                </blockquote>
                <ol>
                <li>&quot;If you hate documentation - every PR in our core products is accompanied by updating our docs. Our docs is our primary product, the SDK is the manifestation of the docs. If you don&#39;t enjoy writing docs, you&#39;ll find this place miserable. Not just that, if you feel there are parts of the development stack that are beneath you, you will hate working with us. If you think frontend/backent/devops/documentation is beneath you, this isn&#39;t the place for you.&quot;   </li>
                </ol>
                <blockquote>
                <blockquote>
                <p>like I just told you on call sir, this is the last thing I was assigned to do at Questbook, I would love to give it another shot at Reclaim.</p>
                </blockquote>
                </blockquote>
                <ol>
                <li>&quot;If you love the 80-20 rule - unlike many other products 80-20 isn&#39;t good enough. Our customers have a long tail of requirements. Products that satisfy just the top 20% customers will not get us 80% of the revenue. We often have to go over and beyond to serve our customers. We don&#39;t settle easy. If you often think &quot;I will skip this and will get away with it&quot;, you&#39;d be in the wrong place.&quot;</li>
                </ol>
                <blockquote>
                <blockquote>
                <p>not going to make this mistake twice.</p>
                </blockquote>
                </blockquote>
                <hr>
                <p>&quot;About the role</p>
                <p><strong>Skills:</strong> Node.js, React, Blockchain</p>
                <p>Resolve issues &amp; questions for developers who are integrating Reclaim Protocol.&quot;</p>
                <blockquote>
                <blockquote>
                <p>demonstrated experience in all of the above.</p>
                </blockquote>
                </blockquote>
                <h1 id="sample-project-respond-to-all-developer-queries-on-telegram-">Sample project : &quot;Respond to all developer queries on Telegram&quot;</h1>
                <ul>
                <li>This involves being ultra active on Telegram &amp; Slack</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>i know i should send a zkproof of my screen time, but that&#39;d probably be overkill.</p>
                </blockquote>
                </blockquote>
                <ul>
                <li>This means having a turn around time of less than 5 min for queries</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>yessir. 🫡</p>
                </blockquote>
                </blockquote>
                <ul>
                <li>This means having full visibility on how the product works, what are the known issues, what are the work arounds</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>catching up to good tech is the first thing i was taught at IIIT.</p>
                </blockquote>
                </blockquote>
                <ul>
                <li>This also means documenting repeat queries and making sure we have fixes or answers by either communicating to the engineering team and/or creating content for helping users unblock themselves</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>suggested this on call itself.</p>
                </blockquote>
                </blockquote>
                <h1 id="you-will-be-a-good-fit-if">You will be a good fit if</h1>
                <ul>
                <li>You are an extrovert. You need to speak with a LOT of people. Everyday.</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>best job ever, where do I sign up?</p>
                </blockquote>
                </blockquote>
                <ul>
                <li>You enjoy creating content. Often, the way to become more productive is having readymade content for popular queries. Or even improve the documentation and messaging to make sure people have lesser questions to start with.</li>
                </ul>
                <blockquote>
                <blockquote>
                <p><a href="https://instagram.com/chtnyh">https://instagram.com/chtnyh</a></p>
                </blockquote>
                </blockquote>
                <ul>
                <li>You are always on your phone. Questions can come from anyone from anywhere in the world. You must have your phone handy and respond quickly even if you&#39;re not at your desk. You should be good at context switching so that you can respond and continue with your dinner, for example.</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>i&#39;ll be on as many devices as i can get my hands on. phones, laptops, vision pros (if they happen to be available xD)</p>
                </blockquote>
                </blockquote>
                <h1 id="you-will-_not_-be-a-good-fit-if">You will <em>not</em> be a good fit if</h1>
                <ul>
                <li>&quot;You have fixed working hours. Unfortunately, we see queries from around the world and around the clock. We don&#39;t have a large team yet. So, it&#39;ll likely be you responding to everyone.&quot;</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>have worked 48 straight hours for Questbook, can push to 72 for reclaim.</p>
                </blockquote>
                </blockquote>
                <ul>
                <li>You are not deeply technical - many dev-rels we speak to have a technical background but plugged out of development long back. That won&#39;t do. You have to be deeply technical. The product is deeply technical. We expect you to fix bugs, update documentation and build tools to help developers.</li>
                </ul>
                <blockquote>
                <blockquote>
                <p>was an engineering intern at Questbook, BharatX, Wikimedia Foundation and more.</p>
                </blockquote>
                </blockquote>
                <p>Technology</p>
                <p>Reclaim Protocol helps generate zeroknowledge proofs from https traffic. We operate on the cutting edge of technology.</p>
                <p>Interesting tech stack components</p>
                <ul>
                <li>ZK Circuits on mobile : There are probably no other products with real customers that generate zk proofs on a mobile phone. We relentlessly focus on improving performance. Every second of performance counts. Our customers have phones from 2017 Low end Android devices to the latest iPhone. Our zkproofs need to be generated on all of them. At the time of this writing it takes about 30s to create a proof on the low end Androids. And in somecases, just crashes. ZK Circuits are memory intensive. We&#39;re always exploring optimizations and alternate implementations.</li>
                <li>Appclips &amp; Instant apps - Many of the apps don&#39;t need to be apps that need to be downloaded on the appstores. They just need to be an app like experience. To interact with the Reclaim Protocol, we use appclips. Appclips are a feature in phones that are oft overlooked. Making an app that opens instantaneously without having to install a new app by visiting the store unlocks a whole new design space. Ours is an appclip - which means there are strict limits on package size. So, we&#39;re not only optimizing the run time of the zkproofs, but we are also trying to optimize the package size at the same time.</li>
                <li>SDKs : We have SDKs for multiple popular frameworks. This includes NodeJS, ReactJS, React Native, Flutter and a bunch of blockchain SDKs like Ethereum, EVM, Solana, Near, Cosmos, Polkadot etc. The zkproofs can be verified on any framework the app is built on, and we support as many as we can.</li>
                <li>Developer tooling - we&#39;re continuously investing in building great developer tooling. Imagine building the chrome debug tools ground up from scratch. That&#39;s what we do. We build developer tools for our customers to see what is happening under the hood on their mobile browser - so as to help them speed up integrating our SDK. This development is full of edge cases and lot of intricacies. We have written our own implementation of TLS ground up. And it&#39;s open sourced.</li>
                </ul>
                <p>&quot;We are extremely proud of the technology we build.&quot;</p>
                <blockquote>
                <blockquote>
                <p>honestly: you should be, i am just proud to have known the team.</p>
                </blockquote>
                </blockquote>
                {%- endif -%}
                <!-- Homepage Layout-->
                {%- if page.permalink == "/" -%}
                <div class="column is-8-widescreen  is-8-desktop is-8-tablet is-12-mobile">
                    {%- if site.preferences.homepage.enabled -%}
                    <!--- Show Homepage -->
                    {%- include Homepage.html -%}
                    {%- else -%}
                    <!--- Show Feed Part -->
                    <div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
                        <h5 class="meta-title"><a href="/">← Home</a></h5>
                        <div class="jumbo">{{page.title}}</div>
                        {%- include Content.html -%}
                        {%- include Feed.html -%}
                    </div>
                    {%- endif -%}
                </div>
                {%- endif -%}

                <!--- Notes Feed Layout-->
                {%- if page.feedformat -%}
                <div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
                    <h5 class="meta-title"><a href="/">← Home</a></h5>
                    <div class="jumbo">{{page.title}}</div>
                    {%- include Content.html -%}
                    {%- include Feed.html -%}
                    {%- endif -%}

                    <!--- Notes Layout-->
                    {%- if page.content-type == "notes" -%}
                    <div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
                        <div class="note-page-section">
                            <div>
                                {%- if site.preferences.homepage.enabled -%}
                                <a onclick="window.history.back();">
                                    {%- else -%}
                                    <a onclick="window.location.assign('/');">
                                        {%- endif -%}
                                        <h5 class="meta-title">← BACK</h5>
                                    </a>
                            </div>
                            <!--- List type Note Layout-->
                            {%- if page.format == "list" -%}
                            <style>
                                li {
                                    border-bottom: 1px solid var(--color-border-light);
                                    list-style: none;
                                    padding: 0.4rem 0 0.4rem 0;
                                }

                                .content ul {
                                    padding-left: 0px;
                                }

                                h3 {
                                    padding-top: 1rem;
                                    padding-bottom: 0rem;
                                }
                            </style>
                            {%- endif -%}
                            <h1>{{page.title}}</h1>
                            {%- include Content.html -%}
                            {%- include Backlinks.html -%}
                        </div>
                    </div>
                    {%- endif -%}


                    <!--- Post Feed Layout-->
                    {%- if page.permalink == "/posts" -%}
                    <div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
                        <h5 class="meta-title"><a href="/">← Home</a></h5>
                        <div class="jumbo">{{page.title}}</div>
                        {%- include Content.html -%}
                        {% for post in site.posts %}
                        <div class="list-feed">
                            <a href="{{ site.baseurl }}{{post.url}}"
                                style="text-decoration: none;display: flex;justify-content: space-between;flex-direction: row;width: 100%;">
                                <div class="writinglist-title">{{post.title }}</div>
                            </a>
                            <span>{{post.date | date: "%d/%m/%Y" }}</span>
                        </div>
                        {%- endfor -%}
                    </div>

                    <ul>

                        {%- endif -%}

                        <!--- Post Layout-->
                        {%- if page.content-type == "post" -%}
                        <div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
                            <div class="note-page-section">
                                <div>
                                    {%- if site.preferences.homepage.enabled -%}
                                    <a onclick="window.history.back();">
                                        {%- else -%}
                                        <a onclick="window.location.assign('/');">
                                            {%- endif -%}
                                            <h5 class="meta-title">← BACK</h5>
                                        </a>
                                </div>
                                <h1>{{page.title}}</h1>
                                <h6>{{ page.date | date: "%a, %b %d, %Y" }} | {{ content | reading_time_as_i }}</h6>
                                <br />
                                {%- include Content.html -%}
                                {%- include Backlinks.html -%}
                            </div>
                        </div>
                        {%- endif -%}

                        <!--- Static Page Layout-->
                        {%- if page.content-type == "static" -%}
                        <div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
                            <div class="jumbo">{{page.title}}</div>
                            {%- include Content.html -%}
                        </div>
                        {%- endif -%}
                </div>
        </section>
        {%- include Footer.html -%}
    </main>
    <script>
        initTheme();
    </script>
</body>

</html>
